.image{
    display: flex;
    height: 40px;
    align-items: center;
}

.panel {
    transition: all ease 1s;
    padding: 0 18px;
    align-content: center;
    background-color: white;
    overflow: hidden;
  }
  