.friend{
    display: flex;
    border-top: 1px solid grey;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    padding: 15px 0px;
}

.margin{
    width:40%;
    margin-left:10%;
  
  }

  .genderAge{
    text-transform: capitalize;
    margin-right: 20%;
  
  }



